/.settings
.settings
/*.project
/*.iml
*.iml
/*.idea
*.idea
*.launch
*.classpath
*.project
*.MF
*/target
*.prefs
*.lst
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
target
*.target
*.class
.DS_Store
com_crashlytics_export_strings.xml
*.iml
/.idea/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next