/* div居中 */
.div-index-center {
	margin: auto;
	text-align: center;
}

/* Div内的Table居中且距顶部50px*/
.div-table-padding-top {
	padding-top: 50px;
	max-width: 50%;
	margin: auto;
	
}

.div-inline{
	display: inline;
	
}
.div-block{
	display: block;
	
}

.form-group .help-block {
	font-size: 20px;
} 

.span-title {
	font-size: 20px;
}
